$font-poppins: "Poppins", sans-serif;

.header {
    background-color: #1890FF;
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &__logo {
        margin: 0px 30px;
    }

    &__avatar {
        margin: 0px 30px;
    }
}